<script src="/javascripts/edit.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/spectrum.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div id="container" tabindex="1">
		<form class="menu-form">
			<div class="form-group">
				<input type='text' id='color-picker'/>
			</div>
			<div class="form-group">
				<div id='open-button' class="btn btn-default">Open</div>
			</div>
			<div class="form-group">
				<input id='save-button' class="btn btn-default" type="button" value="Save">
			</div>
			<div class="form-group">
				<input id='reset-button' class="btn btn-default" type="button" value="Reset">
			</div>
		</form>
</div>