<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CFire</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>